.idea
customer/target/*
fraud/target/*
eureka-server/target/*
*.iml

clients/target/classes/com/bimo/project/clients/fraud/FraudClient.class

clients/target/classes/com/bimo/project/clients/fraud/FraudCheckResponse.class

clients/target/classes/com/bimo/project/clients/fraud/FraudCheckResponse$FraudCheckResponseBuilder.class
